.card {
    width: 150px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.nome {
    font-weight: bold;
}

.titulo {
    color: red;
}

/* 
mude o cursor para "mãozinha" sobre as linhas da tabela
coloque cores diferentes em linhas pares e ímpares
altere a cor ao passar o mouse sobre uma linha
coloque o card Produto centralizado (vertical e horizontalmente) na div modal */